APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:yONw4X4t1Y9basqeQvwn8flnrb1I9SOHPJe7ZajOefs=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=brunofalcao-dev
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
# QUEUE_CONNECTION=sync
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
EDUKA_BACKEND_URL="brunofalcao.local"
LEMON_SQUEEZY_API_KEY=


BACKBLAZE_BUCKET_NAME=
BACKBLAZE_BUCKET_ID=
BACKBLAZE_ENDPOINT=s3.us-east-005.backblazeb2.com
BACKBLAZE_KEY_ID=
BACKBLAZE_APP_KEY=
BACKBLAZE_REGION=us-east-005

# MASTERING_NOVA_DOMAIN=masteringnova.local
ADMIN_EMAIL=aryan@admin.com
# EDUKA_SKIP_COURSE_DETECTION=true

VIMEO_PERSONAL_ACCESS_TOKEN=
VIMEO_CLIENT_SECRET=
VIMEO_CLIENT_ID=


# ----- EDUKA SPECIFIC CONFIGURATION SETTINGS -----
EDUKA_SKIP_COURSE_DETECTION=false
EDUKA_ALWAYS_INVALIDATE_COURSES=true
EDUKA_FALLBACK_NAME="Bruno Falcao"
EDUKA_FALLBACK_EMAIL="me@brunofalcao.dev"
EDUKA_ADMIN_TO="me@brunofalcao.dev"
EDUKA_STOP_NOTIFICATIONS=true
EDUKA_BACKEND_URL="brunofalcao.local"

COURSES_STORE_ID=

mastering_nova_email="bruno.falcao@masteringnova.com"
MASTERING_NOVA_TWITTER="brunocfalcao"
MASTERING_NOVA_DOMAIN="new.masteringnova.local"

MASTERING_NOVA_MAIN_VARIANT_DEFAULT_ID=

MASTERING_NOVA_MAIN_VARIANT_FULL_COURSE_ID=
MASTERING_NOVA_MAIN_VARIANT_FULL_COURSE_PRICE=

MASTERING_NOVA_MAIN_VARIANT_JUST_VIDEOS_ID=

NOVA_ADVANCED_UI_EMAIL="bruno.falcao@nova-advanced-ui.com"
NOVA_ADVANCED_UI_TWITTER="brunocfalcao"
NOVA_ADVANCED_UI_DOMAIN="nova-advanced-ui.local"

NOVA_ADVANCED_UI_MAIN_VARIANT_DEFAULT_ID=
NOVA_ADVANCED_UI_MAIN_VARIANT_DEFAULT_PRICE=55

NOVA_ADVANCED_UI_MAIN_VARIANT_TAILWIND_UI_ID=

NOVA_ADVANCED_UI_MAIN_VARIANT_LIBRARY_AND_VIDEOS_ID=
NOVA_ADVANCED_UI_MAIN_VARIANT_LIBRARY_AND_VIDEOS_PRICE=66
